body, html {
	font-family: 'Oswald', sans-serif;
	margin: 0;
	font-size: 20px;
}
header {
	display: block;
	width: 100%;
}


.slika {
	background-image: url("foto/degree-list.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 590px;
	
}
.slikasub {
	background-image: url("foto/degree-list.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 590px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #555;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
}
li a:hover {
	background-color: #111;
}

#novosti_galerija figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: up;
	width: 10%;
	border: 1px solid black;
}
#novosti_galerija figcaption {
	font-size: 90%;
	text-align: center;
}

#galerija figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 22%;
	border: 1px solid black;
}
#galerija figcaption {
	font-size: 90%;
	height: 50px;
	text-align: center;
}

figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 35%;
	border: 1px solid black;
}
figcaption {
	font-size: 90%;
}
img {
	width: 100%;
}

footer {
	background-color: #555;
	padding: 0.1em;
	clear: both;
}
footer p {
	color: white;
	text-align: center;
	margin: 0.5em;
}
footer img {
	width: 35px;
}

@media screen and (max-width: 900px) {
	figure {
		width: 90%;
		margin: 1em;
	}
	
	
	#novosti_galerija figure {
		padding: 0.5em;
		margin: 0 1em 0.5em 1em;
		float: left;
		width: 90%;
		border: 1px solid black;
	}
	#novosti_galerija figcaption {
		font-size: 90%;
		text-align: center;
	}
}